h1, h2, h3, h4, h5, h6, th
    margin: 0
    font-family: $markotbold
    text-transform: uppercase

h2.section-title
    font-family: $markotbold
    text-align: center
    color: $consumer-blue

    @include media($mobile)
        font-size: 18pt
        padding: 0
    @include media($tablet)
        font-size: 24pt
        padding: 0 0 20px 0
    @include media($desktop)
        font-size: 28pt
        padding: 0 0 50px 0
h4
    padding: 0 0 20px 0

ul, li
    padding: 0
    margin: 0
    list-style: none

p, ul, li
    font-size: 0.9em
    line-height: 1.6em

li
    margin: 0 0 10px 0

p, ul, li, ol
    font-family: $markotreg

a
    &:link, &:visited
        text-decoration: none
        font-family: $markotbold
        color: $consumer-blue
        transition: all ease-in-out 0.4s
        cursor: pointer
    &:hover, &:active, &:focus
        color: $orange

a.light-link
    &:link, &:visited
        text-decoration: none
        font-family: $markotbold
        color: $sky-blue
        transition: all ease-in-out 0.4s
        cursor: pointer
    &:hover, &:active, &:focus
        color: $orange


.black-bg
    text-align: center
    h2
        color: $dark-silver
        text-transform: uppercase
        font-size: 1em

table
    text-align: left


footer
    ul
        margin: 0
        padding: 0
    li
        list-style: none
        @include media($mobile)
            text-align: center
        @include media($tablet)
            text-align: left
        @include media($desktop)
            text-align: left
    h3
        color: white
        padding: 0
        @include media($mobile)
            margin: 0 0 0 0
        @include media($tablet)
            margin: 0 0 15px 0
        @include media($desktop)
            margin: 0 0 15px 0

    a
        &:link, &:visited
            color: $orange
            text-decoration: none
            line-height: 1.8em
            transition: all ease-in-out 0.4s
        &:hover, &:active, &:focus
            color: $light-silver


ul.wrong-list
    li
        line-height: $line-height
        &:before
            content: "\f00d"
            font-family: fontAwesome
            color: #dd1a32
            margin-right: 15px

ul.right-list
    li
        line-height: $line-height
        &:before
            content: "\f00c"
            font-family: fontAwesome
            color: #00ab4f
            margin-right: 15px


.align-left
    p, h3
        text-align: left

//buttons


.btn-down
    &::after
        font-family: fontAwesome
        content: "\f078"
        margin-left: 10px


.recliner-bg
    color: white

.page-title
    color: #FFFFFF
    @include media($mobile)
        text-align: left
        width: 80%
    h2
        text-transform: uppercase
        @include media($mobile)
            font-size: 14pt
            line-height: 1em
            padding: 0 0 10px 0
        @include media($tablet)
            font-size: 2em
        @include media($desktop)
            font-size: 3em
    h3
        font-family: $markotreg

        @include media($mobile)
            font-size: 7pt
            letter-spacing: 0.1em
            margin: 10px 0 0 0
        @include media($tablet)
            font-size: 10pt
            letter-spacing: 0.25em
        @include media($desktop)
            font-size: 10pt
            margin: 5px 0 0 0
            letter-spacing: 0.25em

    h1
        text-transform: uppercase
        font-weight: normal
        letter-spacing: 0.001em
        @include media($desktop)
            font-size: 40pt
.align-c
    text-align: center

.about
    h2
        &::after
            height: 2px
            width: 15px
            content: " "
            background: rgba(255,255,255,0.5)
            display: block
            margin: 20px auto
    p
        font-family: $markotreg

.black-bg
    p, ul, li
        color: $light-silver

.blueprint
    .col-4
        text-align: center
        p, h3, ul, li
            color: $black
        h3
            font-size: 1.4em
            &::after
                width: 10px
                content: "\f141"
                display: block
                margin: 10px auto
                font-family: fontAwesome
                opacity: 0.2

.colours-wrap
    li
        color: #FFFFFF
        text-align: center
    p
        margin: 0 0 10px 0
        font-size: 0.8em

    h4
        text-transform: uppercase
        font-size: 9pt !important

    .gold, .light-silver
        color: $black

.btn
    display: block
    @include padding(10px)
    @include margin(25px 0 0 0)
.btn-white
    color: #FFFFFF

.btn-black
    color: $black
    // border: 2px solid $black

.cta
    .btn-down
        border: 2px solid #FFFFFF
        @include pad(15px)
        font-family: $markotbold
        text-transform: uppercase
        &:hover, &:active, &:focus
            background: #FFFFFF
            color: $consumer-blue



.grid-item
    li
        display: inline-block
        @include pad(0 10px 0 0)
        line-height: 22pt
        list-style: disc
        &::before
            content: "\f111"
            padding-right: 10px
            font-family: fontAwesome
            font-size: 6pt

.dd
    text-align: center

    .list
        list-style: disc
        padding-left: 20px
        li
            text-align: left
            list-style: disc

.center-text
    text-align: center

.approval
    background: url("../img/approval-bg.jpg")
    background-size: cover
    background-position: top center
    background-attachment: fixed
    color: white
    h2
        color: white
    h3
        color: white
        &:first-child
            margin-bottom: 40px
    h3
        margin-bottom: 20px

.dashed-border-r
    border-right: 3px dashed rgba(255,255,255,0.4)

.steps
    display: block
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    li

        &::after
            font-family: fontAwesome
            content: "\f063"
            color: rgba(255,255,255,1)
            font-size: 15px
            display: inline
            margin: 20px 0
        &:last-child
            &:after
                display: none
    p
        text-transform: uppercase
        font-size: 12pt
        padding: 0
        margin: 10px 0
        text-align: center
        color: white
        display: block
        border-radius: 10px



    i.fa
        font-size: 50pt
        padding: 0 0 10px 0

    span
        display: block
        padding: 0 15px
        font-family: $markotreg
        font-size: 10pt

.xscape
    color: #FFFFFF


a.cta-down
    width: 100%
    i
        font-size: 22pt
    &:link, &:visited
        color: #FFFFFF
        position: absolute
        transition: all ease-in-out 0.4s
    &:hover, &:active, &:focus
        color: $sky-blue !important
    @include media($mobile)
        bottom: 15px
    @include media($tablet)
        bottom: 25px
    @include media($desktop)
        bottom: 50px


.architecture
    p
        text-align: center
        margin-bottom: 20px

.text-red
    color: $red

.text-green
    color: $green

.text-white
    color: #FFFFFF

.text-centered
    text-align: center

.consumer-blue
    h2.section-title
        color: #FFFFFF

.btn-view
    color: $consumer-blue
    font-family: $markotbold
    cursor: pointer
    transition: all ease-in-out 0.4s
    transition-delay: 0
    &:hover, &:active, &:focus
        color: $orange

.subheading
    font-family: $markotreg
    text-transform: uppercase
    padding: 50px 0

.caption
    p
        font-family: $markotreg
        font-size: 10pt
        text-align: center

.align-right
    text-align: right

.gradient-container
    .col-4
        color: $black !important
        font-family: $markotreg !important

.xscape, .dsr
    .section-title
        color: #FFFFFF

.typefaces
    h1, h2, h3, h4, h5, h6
        text-transform: none

#framework
    h3
        margin-top: 15px

.specimen
    padding: 45px
    margin-bottom: 25px

a.btn-download
    background: $consumer-blue
    color: white
    text-align: center
    padding: 10px 20px
    display: inline-flex
    line-height: 22pt
    &:before
        font-family: fontAwesome
        content: "\f0ed"
        display: inline-block
        font-size: 22pt
        padding-right: 10px
        margin-right: 10px
        border-right: 1px solid rgba(255,255,255,0.2)
    &:hover, &:active, &:focus
        background: $orange

.no-padding
    padding: 0

.modal
    h3
        @include media($mobile)
            text-align: center
            margin: 25px 0 15px 0
        @include media($tablet)
            text-align: left
            margin: 25px 0 15px 0
        @include media($desktop)
            text-align: left
            margin: 25px 0 15px 0
