@import 'partials/variables'; // colors, fonts etc...
@import 'partials/mixins'; // custom mixins
@import 'partials/layout'; // responsive grid and media queries
@import 'cineplexnav';
/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	max-width: $M; // breakpoints inside partials > _layout.scss
	margin: 0 auto;
	@include clearfix;
}

/* --------------------------------

Main components

-------------------------------- */

.cd-header {
	position: fixed;
	top: 0;
	left: 0;
	height: $header-height-M;
	width: 100%;
	z-index: $hamburger-zindex;
	transition: all ease-in-out 0.4s;
	@include pad(0 15px);
	@include font-smoothing;
	@include MQ(L) {

		/* Force Hardware Acceleration in WebKit */
		@include transform(translate3d(0,0,0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

	}
}

.cd-logo {
	display: block;
	position: absolute;
	@include center(y);
	left: .875em;

	img {
		display: block;
	}

	@include MQ(M) {
		left: 2.6em;
	}
}

.cd-secondary-nav {
	position: absolute;
	@include center(y);
	right: 10em;
	/* hidden on small devices */
	display: none;

	li {
		display: inline-block;
		margin-left: 2.2em;
	}

	a {
		display: inline-block;
		color: $color-3;
		text-transform: uppercase;
		font-weight: 700;
	}

	@include MQ(M) {
		display: block;
	}
}

.cd-primary-nav-trigger {
	height: 100%;
	width: 50px;
	font-family: $markotbold;
	&::before {
		content: "\f0c9";
		font-family: fontAwesome;
		color: white;
		line-height: $header-height-M;
		margin: 0 10px 0 0;

	}
	&::after {
		content: "Cineplex brand guide";
		font-family: $markotbold;
		color: white;
		text-transform: uppercase;
		@include media($mobile){
			font-size: 0.7em;
		}
		@include media($tablet){
			font-size: 0.8em
		}

	}
	.cd-menu-text {
		color: $color-3;
		text-transform: uppercase;
		font-weight: 700;
		/* hide the text on small devices */
		display: none;
	}

	@include MQ(M) {

		.cd-menu-text {
			display: inline-block;
		}

		.cd-menu-icon {
			left: auto;
			right: 1em;
			@include transform(translateX(0) translateY(-50%));
		}
	}
}

.menu-is-open {
	background: rgba(45,41,38,0);
	.cd-primary-nav-trigger {
		&::before {
			content: "\f00d";
		}

		&::after {
			content: "Close Navigation";
			@include media($mobile){
				font-size: 0.7em;
			}
			@include media($tablet){
				font-size: 0.8em
			}
		}
	}
	.s-nav {
		opacity: 0;
	}


}
.cd-primary-nav {
	/* by default it's hidden - on top of the viewport */
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: url("../img/nav-bg.jpg");
	background-position: fixed top;
	background-size: cover;
	z-index: $nav-zindex;
	text-align: center;
	padding: $header-height-S 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: auto;
    display: flex;
    flex-direction: column;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;
    @include media($mobile){
        justify-content: flex-end;
        align-items: stretch;
        padding: 0 25px 25px 25px;
    }
    @include media($tablet) {
        justify-content: center;
        align-items: center;
    }
    @include media($desktop) {
    	justify-content: center;
    	align-items: center;;
    }


	@include transform(translateY(-100%));
	@include transition-property(transform);
	@include transition-duration(.6s);


	&.is-visible {
		@include transform(translateY(0));
	}

	@include MQ(M) {
		padding: $header-height-M 0;
	}

	@include MQ(L) {
		li {
			@include font-size(30px);
		}

		.cd-label {
			@include font-size(16px);
		}
	}
}


.cd-main-content {
	position: relative;
	z-index: $content-zindex;
}
