// colors

$color-1: #021725; // blue
$color-2: #e36767; // red
$color-3: #fff; // white

// fonts

$primary-font: 'Source Sans Pro', sans-serif;

//header height

$header-height-S: 50px;
$header-height-M: 60px;

// z-index

$content-zindex: 1;
$second-nav-zindex: 2;
$header-zindex: 3;
$nav-zindex: 4;
$section-zindex: 5;
$hamburger-zindex: 6;
$top: 7;
